
@{
    ViewBag.Title = "Toplam Kar";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

<section class="content-header">
    <h1>
        Toplam Kar
        <small>Ürün Yönetimi</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Ürün Yönetimi</a></li>
        <li class="active">Ürün Yönetimi</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <h2>Toplam Kar:@ViewBag.TotalProfit</h2>
</section>

