
@{
    ViewBag.Title = "İndex";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}


<section class="content-header">
    <h1>
        Yönetim
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        <li class="active">Yönetim</li>
    </ol>
</section>
    <!-- Main content -->
    <section class="content">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>
                            Ürün
                            </h3>
                            <p>Yönetimi</p>
                        
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="/ProductManagment/index" class="small-box-footer">
                            Git <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>
                                Kategori 
                            </h3>
                            <p>
                                Yönetimi
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="/CategoryManagment/Index" class="small-box-footer">
                            Git<i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                   
                </div>
                <div class="cl-lg-3 col-xs-6">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>
                                Satış
                            </h3>
                            <p>
                                Durumları
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                          Git <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
    </section><!-- /.content -->

